body {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 600px;
}

.grid-item {
    box-sizing:border-box;
    border: 2px solid #ddd;
    width: 6.25%;
    padding-bottom: 6.25%;
    /* transition: background-color 0.3s; */
}

/*.grid-item:hover {
    background-color: #3498db;
}